@charset "UTF-8";

/* Estilos principales */
body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    height: 100%;

}

h1,
h2 {
    font-family: "Catamaran", sans-serif !important;
}


/* Estilos nav*/
.nav-bg {
    background: #f09537;
    color: rgb(174, 172, 172);
}

.btn-info {
    background: #fff;
    color: #f09537;
    border: 0;
}

.btn-info:hover {
    background: #070707;
    color: #f09537;
}

.btn-info:focus,
.btn-info:active {
    background-color: #fff !important;
    box-shadow: none !important;
}

/* Btn-Urbanfit*/
.btn-urbanfit {
    background-color: #f09537;
    border: none;
    color: #fff;
}

.btn-urbanfit:hover {
    background-color: #070707;
    color: #f09537;
}

.btn-urbanfit:focus,
.btn-urbanfit:active {
    background-color: #d67f2a;
    box-shadow: none;
}

/* Footer*/
.bg-footer {
    background: #f09537;
}

/**************************/
/* Estilos página Inicio */
/* Header */
.header {
    background: url("/images/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.header .row {
    --bs-gutter-x: 0;
}

.text-container {
    max-width: 800px;
}

.btn-registro {
    background: #f09537;
    color: #fff;
    border: 0;
}

.btn-registro:hover {
    background: #fff;
    color: #f09537;
}

.btn-registro:focus,
.btn-registro:active {
    background-color: #d67f2a;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
}


.imagen-container img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}

/* Quiénes somos */

.text-titulo {
    color: #f09537;
}

.about {
    color: rgb(174, 172, 172);
}

/* Ventajas UrbanFit */
.ventajas {
    background: url("../images/ventajas.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-img-top {
    height: 180px;
    object-fit: cover;
    width: 100%;
}

.card-title {
    color: #f09537;
}

.card-text {
    color: rgb(174, 172, 172);
}


/*********************************/
/* Estilos página Inicio sesion */

body.pagina-sesion {
    display: flex;
    /* Para apilar header, main y footer en columna*/
    flex-direction: column;
    background: #aeacac;
    min-height: 100vh;
}

body.pagina-sesion main {
    flex: 1;
}

.bg-urbanfit {
    background: #f09537;

}


/****************************/
/* Estilos página registro */

body.pagina-registro {
    display: flex;
    /* Para apilar header, main y footer en columna*/
    flex-direction: column;
    background: #aeacac;
    min-height: 100vh;
}

body.pagina-registro main {
    flex: 1;
}

body.pagina-registro .card {
    max-width: 800px;
    margin: 40px auto;
    border-radius: 12px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, .08);
}

body.pagina-registro .card-header {
    background: #f09537;
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 1.4rem;
}

/****************************/
/* Estilos página horarios */

body.pagina-horarios {
    display: flex;
    /* Para apilar header, main y footer en columna*/
    flex-direction: column;
    background: #aeacac;
    min-height: 100vh;
}

.titulo {
    color: #070707;
}

/**************************************************************/
/* Estilos página Dashboard Usuario, Administrador y Monitor */

body.pagina-dashboard {
    display: flex;
    /* Para apilar header, main y footer en columna*/
    flex-direction: column;
    background: #e9e9e9;
    min-height: 100vh;
}


/* Sidebar*/
.sidebar .nav-link {
    color: #070707;
}

.sidebar .nav-link.active {
    font-weight: bold;
    color: #070707;
}

.sidebar .nav-link.text-danger {
    color: #f09537 !important;
    font-weight: bold;
}

/****************************/
/* Estilos Página Contacto */

body.pagina-contacto {
    display: flex;
    /* Para apilar header, main y footer en columna*/
    flex-direction: column;
    background: #e9e9e9;
    min-height: 100vh;
}

body.pagina-contacto main {
    flex: 1;
}

body.pagina-contacto h3 {
    color: #f09537 !important;
}

/* Estilo base */
.social-iconos a {
    color: #070707;
    /* color inicial (gris oscuro) */
    transition: color 0.3s ease;
}

/* Hover corporativo */
.social-iconos a:hover .fa-facebook {
    color: #1877F2;
    /* Azul Facebook */
}

.social-iconos a:hover .fa-instagram {
    color: #E4405F;
    /* Rosa Instagram */
}

.social-iconos a:hover .fa-whatsapp {
    color: #25D366;
    /* Verde WhatsApp */
}