<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link
        href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Inicio Sesión</title>
</head>

<body class="pagina-sesion">

    <!--- Nav -->

    <nav class="navbar navbar-expand-sm nav-bg py-2">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/logo_UrbanFit.png}" alt="Logo UrbanFit" width="75" height="75"
                    class="d-inline-block align-text-top"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/#quienes}">Quiénes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/clases}">Clases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contacto}">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!--- Inicio Sesión -->

    <main class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="card shadow" style="max-width: 400px; width: 100%;">
            <div class="card-header text-center bg-urbanfit text-white">
                Iniciar Sesión
            </div>
            <div class="card-body">
            
            	<!-- Mensaje de registro exitoso al redirigir -->
				<div th:if="${param.registroExitoso}" class="alert alert-success">
   					¡Registro completado con éxito! Ahora puedes iniciar sesión.
				</div>
            
            	<!-- Mensaje de error de login -->
   			 	<div th:if="${param.error}" class="alert alert-danger">
        			Usuario o contraseña incorrectos
    			</div>

    			<!-- Mensaje de logout exitoso -->
    			<div th:if="${param.logout}" class="alert alert-success">
      			 	Has cerrado sesión correctamente
    			</div>
            	
                <form th:action="@{/login}" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" name="username" placeholder="correo@ejemplo.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="********" required>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-urbanfit w-100">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>


    <!--- Footer -->

    <footer class="bg-footer text-light py-2">
        <div class="container text-center">

            <p class="mb-1">© 2025 UrbanFit. Todos los derechos reservados.</p>

            <div class="small">
                <a href="#" class="text-light text-decoration-none me-3">Aviso Legal</a>
                <a href="#" class="text-light text-decoration-none me-3">Política de Privacidad</a>
                <a href="#" class="text-light text-decoration-none">Política de Cookies</a>
            </div>

        </div>
    </footer>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
        </script>
</body>

</html>